*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    max-width: 1920px;
    width: 100%;
    margin: auto;
}
.container{
    max-width: 1315px;
    width: 100%;
    margin: auto;
}